SPRING_PROFILES_ACTIVE=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

OPENAI_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

FRONTEND_BASE_URL=
BACKEND_BASE_URL=
CORS_ALLOWED_ORIGINS=
